# Python
__pycache__/
.cache
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
build/

# System specific files

## Linux
*~
.Trash-*

## macOS
.DS_Store
._*
.Trashes

## Windows
Thumbs.db
[Dd]esktop.ini

## Text Editors
.vscode
