name: Build
on:
  push:
  pull_request:
  schedule:
    - cron: '10 10 1 * *'  # once a month
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        python-version:
          - '3.7'
          # - '3.8'
          # - '3.9'
          - '3.10'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[test]"
      - name: Run pre-commit
        uses: pre-commit/action@v2.0.0
      - name: Tests
        run: pytest --color=yes test
